body {
  font-family: Helvetica;
}

a, a:hover, a:active, a:visited {
  color: #333;
}

#header {
  width: 100%;
  background: #111;
}

h1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 9px;
}

#header-buttons .button-right {
  position: absolute;
  right: 10px;
  top: 12px;
}

/*********************************************************************
 * Datastore configuration
 ********************************************************************/

#datastore-configuration .progress-list li[data-status=pending] {
  color: #888;
}

#datastore-configuration .progress-list li[data-status=working] {
  color: #000;
}

#datastore-configuration .progress-list li[data-status=success] {
  color: green;
}

#datastore-configuration .progress-list li[data-status=failure] {
  color: red;
}

/*********************************************************************
 * Exercise list
 ********************************************************************/

#search-bar {
  margin: 5px;
}

#exercise-list {
  font-size: 16px;
  font-weight: bold;
}

#exercise-list ol li {
  border: 1px solid #CCC;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
}

/*********************************************************************
 * Dev toobar
 ********************************************************************/

#dev-links {
  border-top: 1px solid #CCC;
  margin-top: 50px;
  padding-top: 5px;
  text-align: center;
}

#dev-links ul li {
  display: inline;
}
