<_within file="application.html">

<div id="header">
  <h1>One Rep Max</h1>
</div>

<div id="content">
  <div id="datastore-configuration">
    <div class="how-it-works"></div>
      <p>
        Welcome! Bacon ipsum dolor sit amet shoulder fatback venison, tongue spare ribs sausage cow swine bacon boudin tri-tip biltong bresaola shank. Sirloin chicken pork loin, spare ribs cow pancetta pastrami jowl beef beef ribs ball tip tongue pork belly turkey chuck. T-bone tenderloin beef, swine short ribs pork chop ribeye.
      </p>
      <p class="tell-me-more">Tell me more</p>
      <p class="more-info">... Beef ribs salami pork belly, cow ground round flank venison ham sirloin jowl. Bacon shoulder short loin, chuck fatback corned beef pork belly pig. Ribeye swine strip steak jowl pork chop. Bacon tongue pork chop biltong.</p>
    </div>
    <div id="datastore-configuration-form">
      <input id="api-key-input" size="20" type="text" placeholder="API Key" required/>
      <input id="database-input" size="20" type="text" placeholder="Database Name" required/>
      <button id="datastore-configuration-form-button">Let's Do This!</button>
    </div>
    <ul class="progress-list">
      <li id="step-verify-credentials" data-status="pending">Verify API key</li>
      <li id="step-verify-database"    data-status="pending">Verify database</li>
      <li id="step-verify-collections" data-status="pending">Verify or create collections</li>
    </ul>
  </div>
</div>

</_within>
