<_within file="application.html">

<div id="header">
  <h1>Welcome</h1>
</div>

<div id="content">
  <div id="datastore-configuration">
    <p class="how-it-works">
      To get started ...
      (TODO: Add instructions.)
    </p>
    <form>
      <label id="api-key-input-label" for="api-key-input">API Key</label>
      <input id="api-key-input" size="20" type="text"/>
      <button>Let's Do This!</button>
    </form>
    <ul class="progress-list">
      <li>Verify API key</li>
      <li>Configure database</li>
      <li>Initialize data</li>
    </ul>
  </div>
</div>

</_within>
