<_within file="application.html">

<div id="header">
  <h1>Exercises</h1>
  <div class="header-buttons right">
    <button type="button" id="new-exercise-button" class="icon-plus"/>
  </div>
</div>

<div id="content">
  <div id="search-bar">
    <input id="search-input" type="text" placeholder="Search"/>
  </div>

  <div id="exercise-list">
    <ol>
      <li>
        <span class="list-item-label">Barbell Shrugs</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Bench Press</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Bentover Later Raise</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Bulgarian Split Squat</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Calf Raise (Seated)</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Calf Raise Machine</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Chin-up</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Close-grip Bench Press</span>
        <div class="icon-arrow-right"></div>
      </li>
      <li>
        <span class="list-item-label">Crossover Push-up</span>
        <div class="icon-arrow-right"></div>
      </li>
    </ol>
  </div>

</_within>
