<_within file="application.html">

<div id="header">
  <h1>Exercises</h1>
  <div id="header-buttons">
    <button type="button" class="button-right">+</button>
  </div>
</div>

<div id="content">
  <div id="search-bar">
    <label id="search-input-label" for="search-input">Search</label>
    <input id="search-input" size="30" type="text"/>
  </div>

  <div id="exercise-list">
    <ol>
      <li>
        <span class="list-item-label">Barbell Shrugs</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Bench Press</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Bentover Later Raise</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Bulgarian Split Squat</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Calf Raise (Seated)</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Calf Raise Machine</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Chin-up</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Close-grip Bench Press</span>
        <span class="list-item-icon">&gt;</span>
      </li>
      <li>
        <span class="list-item-label">Crossover Push-up</span>
        <span class="list-item-icon">&gt;</span>
      </li>
    </ol>
  </div>

</_within>
