<_within file="application.html">

  <div id="content">
    <fieldset>
      <legend>A simple form</legend>
      <div id="input-field" class="clearfix">
        <label for="name-input">What is your name?</label>
        <div class="input">
          <input class="xlarge" id="name-input" size="30" type="text" placeholder="Your name"/>
          <span id="name-input-error" class="help-inline"></span>
        </div>
      </div>
      <div class="actions">
        <input id="greet-button" type="button" class="btn primary" value="Greet me">
      </div>
    </fieldset>
  </div>

</_within>
