<_within file="application.html">

  <div id="content">
    <div id="form">
      <fieldset>
        <div id="input-field">
          <h1>My form</h1>
          <div class="clearfix"></div>
          <div class="input">
            <label id="name-input-label">
              <span>Enter your name</span>
              <input id="name-input" size="30" type="text"/>
            </label>
            <div id="name-input-error" class="small error"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <input id="greet-button" class="button green" href="#" type="button" value="Done!">
      </fieldset>
    </div>
  </div>

</_within>
