<_within file="application.html">

<div id="header">
  <h1>Bench Press</h1>
</div>

<div id="content">
  <div id="new-set-form">
    <input id="exercise-id" type="hidden" />
    <label id="weight-input-label" for="weight-input">lbs</label>
    <input id="weight-input" size="3" type="number" required />
    <label id="reps-input-label" for="reps-input">reps</label>
    <input id="reps-input" size="3" type="number" required />
    <button id="new-set-form-button">Add Set</button>
  </div>

  <section id="recent-set-history">
    <ol>
      <li>
        <p class="weight-and-reps">195 lbs x 5 reps</p>
        <p class="set-number">Set 3</p>
        <p class="one-rep-max">1RM: 219 lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:27:02-06:00">6:27:02 am</time></p>
      </li>
      <li>
        <p class="weight-and-reps">155 lbs x 2 reps</p>
        <p class="set-number">Set 2</p>
        <p class="one-rep-max">1RM: 159 lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:23:59-06:00">6:23:59 am</time></p>
        <p class="note">Feelin' good. Today's gonna be a strong day!</p>
      </li>
      <li>
        <p class="weight-and-reps">115 lbs x 5 reps</p>
        <p class="set-number">Set 1</p>
        <p class="one-rep-max">1RM: 129 lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:21:48-06:00">6:21:48 am</time></p>
      </li>
    </ol>
  </section>
</div>

</_within>
