<_within file="application.html">

<div id="header">
  <h1>Bench Press</h1>
</div>

<div id="content">
  <div id="new-set-form">
    <input id="exercise-id" type="hidden" />
    <label id="weight-input-label" for="weight-input">lbs</label>
    <input id="weight-input" size="3" type="number" required />
    <label id="reps-input-label" for="reps-input">reps</label>
    <input id="reps-input" size="3" type="number" required />
    <button id="new-set-form-button">Add Set</button>
  </div>

  <section id="recent-set-history">
    <ol>
      <li>
        <p class="weight-and-reps"><span class="weight value">195</span> lbs x <span class="reps value">5</span> reps</p>
        <p class="set-number">Set <span class="value">3</span></p>
        <p class="one-rep-max">1RM: <span class="value">219</span> lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:27:02-06:00">6:27:02 am</time></p>
        <p class="note">Feelin' good. Today's gonna be a strong day!</p>
      </li>
      <li>
        <p class="weight-and-reps"><span class="weight value">155</span> lbs x <span class="reps value">2</span> reps</p>
        <p class="set-number">Set <span class="value">2</span></p>
        <p class="one-rep-max">1RM: <span class="value">159</span> lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:23:59-06:00">6:23:59 am</time></p>
      </li>
      <li>
        <p class="weight-and-reps"><span class="weight value">115</span> lbs x <span class="reps value">5</span> reps</p>
        <p class="set-number">Set <span class="value">1</span></p>
        <p class="one-rep-max">1RM: <span class="value">129</span> lbs</p>
        <p class="created-at"><time datetime="2012-05-23T06:21:48-06:00">6:21:48 am</time></p>
      </li>
    </ol>
  </section>
</div>

</_within>
