<_within file="application.html">

<div id="header">
  <h1>Bench Press</h1>
  <div class="header-buttons left">
    <button type="button" id="back-button" class="button-left">Back</button>
  </div>
</div>

<div id="content">
  <div id="new-set-form">
    <input id="exercise-id" type="hidden" />

    <ul class="trailer">
      <li>
        <input id="weight-input" type="number" required />
        <label id="weight-input-label" for="weight-input">lbs</label>
      </li>
      <li>
        <input id="reps-input" type="number" required />
        <label id="reps-input-label" for="reps-input">reps</label>
      </li>
      <li>
        <button type="button" class="icon-pen" />
      </li>
    </ul>

    <button id="new-set-form-button">Add Set</button>
  </div>

  <div id="recent-sets-by-day">
    <section class="set-history clearfix" id="set-history-for-2012-05-23">
      <header>
        <h1>
          <time datetime="2012-05-23">May 23, 2012</time>
        </h1>
      </header>
      <ol>
        <li>
          <div>
            <h3 class="weight-and-reps"><span class="weight value">195</span> lbs x <span class="reps value">5</span> reps</h3>
            <h3 class="set-number right">Set <span class="value">3</span></h3>
          </div>
          <div>
            <p class="one-rep-max">1RM: <span class="value">219</span> lbs</p>
            <p class="created-at right"><time datetime="2012-05-23T06:27:02-06:00">6:27:02 am</time></p>
          </div>
          <p class="note">Feelin' good. Today's gonna be a strong day!</p>
        </li>
        <li>
          <div>
            <h3 class="weight-and-reps"><span class="weight value">155</span> lbs x <span class="reps value">2</span> reps</h3>
            <h3 class="set-number right">Set <span class="value">2</span></h3>
          </div>
          <div>
            <p class="one-rep-max">1RM: <span class="value">159</span> lbs</p>
            <p class="created-at right"><time datetime="2012-05-23T06:23:59-06:00">6:23:59 am</time></p>
          </div>
        </li>
        <li>
          <div>
            <h3 class="weight-and-reps"><span class="weight value">115</span> lbs x <span class="reps value">5</span> reps</h3>
            <h3 class="set-number right">Set <span class="value">1</span></h3>
          </div>
          <div>
            <p class="one-rep-max">1RM: <span class="value">129</span> lbs</p>
            <p class="created-at right"><time datetime="2012-05-23T06:21:48-06:00">6:21:48 am</time></p>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>

</_within>
