* { @include box-sizing(border-box); }

@mixin inset-component { margin: 0 6px 12px; }

body {
  background: #efefef;
  font-size: 14px;
}

a, a:hover, a:active, a:visited { text-decoration: none; }

#header {
  background: $dark-grey;
  margin: 0 0 12px 0;
  width: 100%;
  position: relative;
}

#header h1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 9px;
  margin: 0;
}

.header-buttons {
  &.right, &.left { position: absolute; top: 4px; }
  &.right { right: 2px; }
  &.left { left: 2px; }

  button {
    font-size: 14px;
    padding: 0 10px;
    height: 32px;
  }
}

.more-info {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
// Dev toolbar
////////////////////////////////////////////////////////////////////////////////

#dev-links {
  border-top: 1px solid $light-grey;
  margin-top: 50px;
  padding-top: 5px;
  text-align: center;

  ul li {
    display: inline;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Datastore configuration
////////////////////////////////////////////////////////////////////////////////

#datastore-configuration { @include inset-component };

#datastore-configuration-form-button {
  display: block;
  width: 100%;
}

.how-it-works ol li {
  list-style-type: decimal;
  margin-left: 24px;
}

.tell-me-more {
  @include inline-block;
  @include icon-info(#fff, 0 5px 0 0);
  display: block;
  cursor: pointer;
  color: $dark-blue;
  &:before {
    @include border-radius(20px);
    background: $dark-grey;
    font-size: 12px;
    padding: 2px 6px;
    margin-right: 5px;
  }
}

.progress-list {
  li {
    color: $dark-grey;
    margin-left: 10px;
  }
  li[data-status=pending] { @include icon-clock($light-grey, 0 5px 0 0); color: $light-grey; }
  li[data-status=working] { @include icon-spin($light-orange, 0 5px 0 0); }
  li[data-status=success] { @include icon-check($green, 0 5px 0 0); }
  li[data-status=failure] { @include icon-denied($red, 0 5px 0 0); color: $red; }
}

////////////////////////////////////////////////////////////////////////////////
// Exercise list
////////////////////////////////////////////////////////////////////////////////

#exercise-list {
  font-size: 16px;
  font-weight: bold;
}

#exercise-list li {
  @include box-shadow(inset 0 1px 0 #fff);
  background: #f7f7f7;
  cursor: pointer;
  border-bottom: 1px solid $really-light-grey;
  line-height: 20px;
  margin: 0;
  padding: 10px 12px;
  position: relative;

  &:first-child { border-top: 1px solid $really-light-grey; }

  div {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 18px;
  }
}

#search-bar {
  margin: 0 12px 6px;
}

////////////////////////////////////////////////////////////////////////////////
// New Exercise Form
////////////////////////////////////////////////////////////////////////////////

#new-exercise-form { @include inset-component };

////////////////////////////////////////////////////////////////////////////////
// New Set Form
////////////////////////////////////////////////////////////////////////////////

#new-set-form, #recent-sets-by-day { @include inset-component };

#weight-input-label, #reps-input-label {
  @include inline-block;
  color: $light-grey;
  right: 8px;
  bottom: 12px;
  position: absolute;

}

#weight-input, #reps-input {
  margin: 0;
}

.trailer {
  @include display-box;
  @include clearfix;
  width: 100%;
  li {
    @include box-flex(50);
    margin-right: 5px;
    position: relative;
  }

  li:last-child {
    @include box-flex(1);
    margin: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Set History
////////////////////////////////////////////////////////////////////////////////

.set-history {
  @include border-radius(8px);
  border-radius:8px;
  border: 1px solid #ccc;
  color: $grey;
  margin-bottom: 6px;

  h1 {
    @include border-radius(4px 4px 0 0);
    background-color: $light-grey;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    margin: 0;
  }

  h3, p { @include inline-block; }
  p {
    color: $light-grey;
    font-size: 13px;
    margin-bottom: 2px;
  }

  div { margin-bottom: 2px; }
  .right { float: right; }

  li:first-child { border-top: 0 none; }
  li {
    @include clearfix;
    border-top: 1px solid #ccc;
    display: block;
    padding: 10px 10px 8px 10px;
    margin: 0;
  }
}
