$grey: #666;
$really-light-grey: #ccc;
$light-grey: #999;
$dark-grey: #555;

$orange: #ff8740;
$light-orange: #ffa773;
$dark-orange: #ff5f00;

$brown: #a63e00;
$light-brown: #bf6530;
$dark-brown: #7a3004;

$blue: #009d91;
$light-blue: #5dcec6;
$dark-blue: #00665e;

$green: #00ae68;
$light-green: #60d6a7;
$dark-green: #21825b;

$red: #f00;
